html
    head
    title= titulo
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' rel='stylesheet')
    body
        div.container
            h1= 'Bienvenido ' + nombre
            